@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color:#ddd;

body {
  width:100%;
  background-color: $primary-color;
  li {
    list-style: none;
  }
  ul{
    margin-bottom: 5vh;
  }
}

* {
  text-align: center;
  margin: auto;
}

input {
  padding:1vh;
  align-content: center;
  margin-left: 1vh;
  border-radius: 3vh;
}

form {
  margin-bottom: 5vh;
}
